* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}
#extra-div {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.logo img {
  height: 90px;
  width: 90px;
  margin-left: 23px;
  margin-top: 20px;
}

figcaption {
  color: #fff;
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.nav ul {
  /*position: fixed;*/
  top: 0;
  right: 0;
  width: 65%;
  display: flex;
  text-align: left;
  padding-top: 50px;
  height: 100%;
}

.nav ul li a {
  color: #93abe3;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0px 60px;
  font-size: 20px;
  padding-bottom: 10px;
}

.nav ul li {
  position: relative;
  animation: 2s autoplay ease-out;
}

.nav ul li a .middle {
  position: relative;
}

header .nav ul li a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 100px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav ul li a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

body {
  background-image: url("../images/devbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350vh;
}

h3 {
  margin-top: 5%;
}

#heading1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  word-spacing: 10px;
}

#s1 {
  font-size: 70px;
  background-color: #fff;
  color: #000;
  padding: 7px 10px;
}

.fbox {
  display: flex;
  margin-top: 5%;
}

.fbox p {
  color: #fff;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  margin: 5%;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.fbox img {
  height: 300px;
  width: 350px;
  margin: 3% 10%;
}

hr {
  width: 30%;
  margin: 3% 35%;
}

.fx {
  display: flex;
}

.card {
  position: relative;
  height: 300px;
  width: 250px;
  background-color: #fff;
  margin: 6% 8%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.card-image {
  background-image: url("../images/devcardbg.png");
  height: 100px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo img{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.card-content {
  position: absolute;
  top: 70%;
}

.card-content h5 {
  color: #0B0626;
  font-size: 23px;
  padding-left: 10px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
} 

.card-content p {
  padding: 5px;
  color: #fff;
  background: #000;
  border-radius: 30px;
  font-size: 15px;
  width: 60%;
  margin: 5px 10px;
  text-align: center;
}

#update {
  width: 90%;
}

.card-disable {
  visibility: hidden;
  
}

.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  height: 8px;
  width: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
