* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
html {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
}
.full-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}
#extra-div {
  display: inline;
  padding: 0px;
  margin: 0px;
  width: 0%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.logo img {
  height: 90px;
  width: 90px;
  margin-left: 23px;
  margin-top: 20px;
}

figcaption {
  color: #fff;
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.nav ul {
  /*position: fixed;*/
  top: 0;
  right: 0;
  width: 65%;
  display: flex;
  text-align: left;
  padding-top: 50px;
  height: 100%;
}

.nav ul li a {
  color: #93abe3;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0px 60px;
  font-size: 20px;
  padding-bottom: 10px;
}

.nav ul li {
  position: relative;
  animation: 2s autoplay ease-out;
}

.nav ul li a .middle {
  position: relative;
}

header .nav ul li a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 100px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav ul li a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

body {
  background-image: url("../images/devbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350vh;
}

h3 {
  margin-top: 5%;
}

#heading1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  word-spacing: 10px;
}

#s1 {
  font-size: 70px;
  background-color: #fff;
  color: #000;
  padding: 7px 10px;
}

.fbox {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.fbox p {
  color: #fff;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  margin: 5%;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.fbox img {
  height: 300px;
  width: 350px;
  margin: 3% 10%;
}

hr {
  width: 30%;
  margin: 3% 35%;
}

.fx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 300px;
  width: 250px;
  background-color: #fff;
  margin: 6% 8%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.card-image {
  background-image: url("../images/devcardbg.png");
  height: 100px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.card-content {
  position: absolute;
  top: 70%;
}

.card-content h5 {
  color: #0b0626;
  font-size: 23px;
  padding-left: 10px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
}

.card-content p {
  padding: 5px;
  color: #fff;
  background: #000;
  border-radius: 30px;
  font-size: 15px;
  width: 60%;
  margin: 5px 10px;
  text-align: center;
}

#update {
  width: 90%;
}

.card-disable {
  visibility: hidden;
}

.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  height: 8px;
  width: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

@media screen and (max-width: 1324px) {
  .logo img {
    height: 70px;
    width: 70px;
  }

  figcaption {
    padding-left: 30px;
    font-size: 0.9rem;
  }
  header .nav ul li a.middle:before {
    top: 30%;
  }
  .nav ul li a {
    padding: 0px 50px;
    font-size: 0.8rem;
  }
  #heading1 {
    font-size: 1.5rem;
  }
  #s1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .fbox p {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .fbox img {
    height: 260px;
    width: 290px;
  }
  .card {
    height: 250px;
    width: 200px;
  }

  .card-image {
    height: 90px;
    width: 200px;
  }

  .photo img {
    height: 120px;
    width: 120px;
    top: 10%;
    left: 20%;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 1080px) {
  .logo img {
    height: 60px;
    width: 60px;
  }

  figcaption {
    padding-left: 30px;
    font-size: 0.7rem;
  }
  .nav ul li a {
    padding: 0px 30px;
    font-size: 0.7rem;
    font-weight: 800;
  }
  #heading1 {
    font-size: 1rem;
  }
  #s1 {
    font-size: 2rem;
  }
  .fbox p {
    font-size: 1rem;
  }

  .fbox img {
    height: 240px;
    width: 270px;
  }
  .card {
    height: 240px;
    width: 190px;
  }

  .card-image {
    height: 90px;
    width: 190px;
  }

  .photo img {
    height: 110px;
    width: 110px;
    top: 15%;
    left: 20%;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 920px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    /* margin: 2.5rem 0; */
    margin: 1.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header .nav ul li a.middle:before {
    top: 100%;
  }
  .nav ul li a {
    font-size: 1rem;
  }
  .fbox {
    flex-direction: column;
  }
  .fx {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    height: 320px;
    width: 270px;
  }

  .card-image {
    height: 120px;
    width: 270px;
  }

  .photo img {
    height: 160px;
    width: 160px;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 1.2rem;
  }

  .card-content p {
    padding: 5px;
    font-size: 0.8rem;
    width: 65%;
  }
}

@media screen and (max-width: 441px) {
  #heading1 {
    margin-top: 5%;
    font-size: 0.8rem;
  }
  #s1 {
    font-size: 1rem;
  }
  .fbox p {
    font-size: 0.8rem;
  }

  .fbox img {
    height: 170px;
    width: 200px;
  }
  .card {
    height: 240px;
    width: 190px;
  }

  .card-image {
    height: 90px;
    width: 190px;
  }

  .photo img {
    height: 110px;
    width: 110px;
    top: 15%;
    left: 20%;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.5rem;
  }
  fbox p {
    font-size: 0.8rem;
  }

  .fbox img {
    height: 170px;
    width: 200px;
  }
  .card {
    height: 240px;
    width: 190px;
  }

  .card-image {
    height: 90px;
    width: 190px;
  }

  .photo img {
    height: 110px;
    width: 110px;
    top: 15%;
    left: 20%;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.5rem;
  }
  ox p {
    font-size: 0.8rem;
  }

  .fbox img {
    height: 170px;
    width: 200px;
  }
  .card {
    height: 240px;
    width: 190px;
  }

  .card-image {
    height: 90px;
    width: 190px;
  }

  .photo img {
    height: 110px;
    width: 110px;
    top: 15%;
    left: 20%;
  }

  .card-content {
    position: absolute;
    top: 70%;
  }

  .card-content h5 {
    font-size: 0.9rem;
  }

  .card-content p {
    font-size: 0.5rem;
  }
}
