header {
	display: flex;
	justify-content: space-between;
}

.logo {
	/*position: fixed;*/
}

.logo img {
	height: 90px;
	width: 90px;
	margin-left: 23px;
	margin-top: 20px;
}

figcaption {
	color: #fff;
	padding-left: 40px;
}

ul {
	list-style-type: none;
}

.nav ul {
	/*position: fixed;*/
	top: 0;
	right: 0;
	width: 85%;
	display: flex;
	text-align: left;
	padding-top: 50px;
	height: 100%;
}

.nav ul li a {
	color: #93ABE3;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 0px 50px;
	font-size: 20px;
	padding-bottom: 10px;
}

.nav ul li {
	position: relative;
	animation: 2s autoplay ease-out;
}

.nav ul li a:hover {
	border-bottom: 0.5px solid #fff;
	border-right-width: 5%;
	transition: 0.1s;
	color: #fff;
	border-bottom-width: thin;
	border-radius: 1px;
}
