* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

body {
  overflow-x: hidden;
}

.container {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500vh;
  /*overflow-y: hidden;*/
  display: flex;
  flex-direction: column;
}

.mid-content1 {
  position: absolute;
  /* display: block; */
  display: flex;
  flex-direction: column; /*flex, flex-direction , align items, and justify content*/
  align-items: flex-start;
  justify-content: center;
  top: 67%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.mid-content1-large {
  display: flex;
  flex-direction: row; /* align items and justify content*/
  justify-content: center;
  align-items: flex-start;
  color: #93abe3;
  padding-left: 22%;
}

.mid-content1-small {
  color: #fff;
  padding-top: 20px;
  font-size: 22px;
}

hr {
  height: 0.5px;
  border: none;
  margin-top: 5px;
  margin-left: -15px;
  width: 150%;
  color: #fff;
  background-color: #fff;
}

.par1 {
  font-size: 54px;
  line-height: 77px;
  padding-right: 65px;
}

.par11 {
  padding-left: 65px;
}

#small-text {
  font-size: 26px;
  color: #fff;
  padding-left: 22%;
}

.single-line {
  text-align: center;
}

#p1 {
  font-family: Raleway;
  color: #fff;
  font-size: 35px;
  padding-right: 20px;
}

.h2 {
  font-family: Raleway;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.mid-content {
  position: absolute;
  display: flex; /*flex and flex direction add justify content and align items*/
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 35%;
  left: 33%;
  animation: fadeIn 1s ease-in both;
}

.single-line {
  display: inline-flex;
}

.d1 {
  margin: 0 5px 0 0;
}

.events {
  position: relative;
}

.wrappers {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50%;
  padding-bottom: 75px;
}

h2 {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  padding: 20px;
  position: absolute;
  top: 100%;
  right: 36%;
}

.rope {
  position: absolute;
  top: 100%;
  width: 100%;
}

.vertical {
  position: absolute;
  top: 110%;
  height: 150px;
  width: 2px;
  color: #fff;
  background: #fff;
  left: 140px;
}

.v1 {
  top: 113%;
  left: 300px;
  height: 120px;
}

.v2 {
  top: 115%;
  left: 600px;
  height: 100px;
}

.v3 {
  top: 116%;
  left: 750px;
  height: 120px;
}

.v4 {
  top: 113%;
  left: 1050px;
  height: 120px;
}

.v5 {
  top: 110%;
  left: 1200px;
  height: 130px;
}

/*.g3{
  position: absolute;
  top: 115%; 
}

*/
.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  transition: 0.5s all;
  z-index: 2;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.glry {
  position: relative;
  padding-top: 50px;
}

.glry2 {
  margin-top: 8%;
}

#g1,
.g2 {
  width: 20%;
  line-height: 10px;
  margin-left: 40%;
  margin-bottom: 4%;
  margin-top: -3px;
  color: #14d2cd;
  background-color: #14d2cd;
  height: 5px;
}

.glry .carousel-cell {
  width: 66%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.glry .carousel-cell:before {
  display: block;
}

.glry2 .carousel-cell {
  width: 66%;
  margin-right: 10px;
}

.glry .carousel-cell img {
  height: 500px;
  width: 500px;
  margin-left: 10%;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.gallery {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  padding: 20px;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px;
  }
}

@keyframes autoplay {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: 0%;
  }
}

@keyframes autoplaytwo {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 3%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1220px) {
  .wrappers {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 60%;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 1200px) {
  #p1 {
    font-size: 2rem;
  }
  .h2 {
    font-size: 1.3rem;
    /* font-size: 20px; */
  }
  #small-text {
    /* font-size: 26px; */
    font-size: 1.6rem;
  }
  h2 {
    font-size: 46px;
    top: 100%;
  }
  .wrappers {
    margin-top: 60%;
    padding-bottom: 60px;
  }
  .card {
    width: 200px;
    height: 280px;
  }
  .card .info h1 {
    font-size: 1.2rem;
  }

  .card .info p {
    font-size: 12px;
    font-weight: 600;
  }
  .gallery {
    font-size: 40px;
  }
  .glry .carousel-cell img {
    height: 400px;
    width: 400px;
    margin-left: 5%;
  }
  .carousel img {
    height: 250px;
  }
}

@media screen and (max-width: 1150px) {
  #p1 {
    font-size: 1.7rem;
  }
  .h2 {
    font-size: 1rem;
    /* font-size: 20px; */
  }
  #small-text {
    /* font-size: 26px; */
    font-size: 1.3rem;
  }
  .par1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 42px;
    top: 100%;
  }
  .wrappers {
    margin-top: 65%;
    padding-bottom: 40px;
  }
  .card {
    width: 160px;
    height: 240px;
  }
  .card .info h1 {
    font-size: 1rem;
  }

  .card .info p {
    font-size: 10px;
    font-weight: 600;
  }
  .gallery {
    font-size: 36px;
  }
  .glry .carousel-cell img {
    height: 400px;
    width: 400px;
    margin-left: 5%;
  }
  .carousel img {
    height: 200px;
  }
  .glry {
    margin: 80px 0;
  }
}

@media (max-width: 1025px) and (max-height: 1367px) {
  /*ipad pro*/
  .wrappers {
    margin-top: 140%;
  }
  #p1 {
    font-size: 3rem;
    margin-left: -150px;
  }
  .h2 {
    font-size: 2rem;
    margin-left: -120px;
    /* font-size: 20px; */
  }
  #small-text {
    /* font-size: 26px; */
    font-size: 3rem;
  }
  .par1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 42px;
    top: 100%;
  }
  .vertical {
    top: 104%;
    left: 100px;
  }

  .v1 {
    top: 105%;
    left: 240px;
    height: 120px;
  }

  .v2 {
    top: 105%;
    left: 450px;
    height: 170px;
  }

  .v3 {
    top: 105%;
    left: 560px;
    height: 170px;
  }

  .v4 {
    top: 105%;
    left: 800px;
    height: 170px;
  }

  .v5 {
    top: 104%;
    left: 900px;
    height: 170px;
  }
  .carousel img {
    height: 400px;
  }
  .glry .carousel-cell img {
    height: 500px;
    width: 500px;
    margin-left: 5%;
  }
}

@media (max-width: 990px) {
  #small-text {
    font-size: 17px;
  }
  .par1 {
    font-size: 40px;
    padding-right: 45px;
  }
  .mid-content1-small {
    font-size: inherit;
  }
  h2 {
    font-size: 30px;
    top: 100%;
  }
  .rope {
    top: 102%;
  }
  .wrappers {
    margin-top: 75%;
    padding-bottom: 40px;
  }
  .gallery {
    font-size: 36px;
  }
  .glry .carousel-cell img {
    height: 300px;
    width: 300px;
    margin-left: 20%;
  }
  .carousel img {
    height: 200px;
  }
  .glry {
    margin: 80px 0;
  }
}

@media (max-width: 875px) {
  #p1 {
    font-size: 1.5rem;
  }
  .h2 {
    font-size: inherit;
  }
}

@media screen and (max-width: 850px) {
  #p1 {
    font-size: 1.5rem;
    margin-left: -50px;
  }
  .h2 {
    font-size: 1rem;
    margin-left: -60px;
  }
  .wrappers {
    margin-top: 80%;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 260px;
    height: 340px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .card .info h1 {
    font-size: 2rem;
  }

  .card .info p {
    font-size: 15px;
    font-weight: 600;
  }
  .gallery {
    font-size: 36px;
  }
  .glry .carousel-cell img {
    height: 300px;
    width: 300px;
    margin-left: 20%;
  }
  .carousel img {
    height: 160px;
  }
  .glry {
    margin: 80px 0;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  /*ipad*/
  #p1 {
    font-size: 2rem;
    margin-left: -100px;
  }
  .h2 {
    font-size: 1.2rem;
    margin-left: -70px;
    /* font-size: 20px; */
  }
  #small-text {
    /* font-size: 26px; */
    font-size: 1.3rem;
  }
  .par1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 25px;
    top: 100%;
  }
  .wrappers {
    margin-top: 140%;
  }
  .vertical {
    top: 109%;
    left: 300px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 450px;
    height: 400px;
  }

  .v2 {
    top: 150%;
    left: 450px;
    height: 400px;
  }

  .v3 {
    top: 150%;
    left: 300px;
    height: 400px;
  }

  .v4 {
    top: 190%;
    left: 450px;
    height: 200px;
  }

  .v5 {
    top: 190%;
    left: 300px;
    height: 200px;
  }
}
@media (max-width: 751px) {
  .wrappers {
    margin-top: 100%;
  }
  .card {
    width: 220px;
    height: 300px;
    top: 10px;
  }
  .card .info h1 {
    font-size: 1.5rem;
  }

  .card .info p {
    font-size: 12px;
    font-weight: 600;
  }
  .glry .carousel-cell img {
    height: 250px;
    width: 250px;
    margin-left: 20%;
  }
  .carousel img {
    height: 160px;
  }
}

@media screen and (max-width: 650px) {
  #p1 {
    font-size: 1.5rem;
    margin-left: -60px;
  }
  .h2 {
    font-size: 1rem;
    margin-left: -60px;
    /* font-size: 20px; */
  }
  #small-text {
    /* font-size: 26px; */
    font-size: 1rem;
  }
  .par1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 25px;
    top: 100%;
  }
  .gallery {
    font-size: 1.5rem;
  }
  .wrappers {
    margin-top: 110%;
  }
}

@media (max-width: 550px) {
  #p1 {
    font-size: 1.17rem;
    margin-left: -15%;
  }
  .h2 {
    font-size: 0.85rem;
    margin-left: -40%;
  }
  #small-text {
    font-size: 0.85rem;
  }
  .par1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .wrappers {
    margin-top: 130%;
  }
  .card {
    width: 160px;
    height: 240px;
    top: 10px;
  }
  .card .info h1 {
    font-size: 1.5rem;
  }

  .card .info p {
    font-size: 12px;
    font-weight: 600;
  }
  .cursor {
    visibility: hidden;
  }
  .cursor2 {
    visibility: hidden;
  }
}

@media screen and (max-width: 450px) {
  #p1 {
    font-size: 0.9rem;
    margin-left: -15%;
    font-weight: 600;
  }
  .h2 {
    font-size: 0.85rem;
    margin-left: -40%;
  }
  #small-text {
    font-size: 0.6rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
  }
  .par1 {
    font-size: 1.2rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
  }
  .par11 {
    margin-left: -30px;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 415px) and (max-height: 736px) {
  /*iphone 6/7/8 plus*/
  #p1 {
    font-size: 1.2rem;
    margin-left: -25%;
    font-weight: 600;
  }
  .h2 {
    font-size: 0.9rem;
    margin-left: -50%;
  }
  #small-text {
    font-size: 1rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 25px;
    margin-bottom: -10px;
    font-weight: 700;
  }
  .par1 {
    font-size: 1.3rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 25px;
    margin-right: -10px;
    font-weight: 800;
  }
  .par11 {
    margin-left: -35px;
  }
  h2 {
    font-size: 1.2rem;
    margin-right: -30px;
  }
  .rope {
    top: 105%;
  }
  .wrappers {
    margin-top: 180%;
  }
  .vertical {
    top: 109%;
    left: 140px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 260px;
    height: 400px;
  }

  .v2 {
    top: 150%;
    left: 260px;
    height: 400px;
  }

  .v3 {
    top: 150%;
    left: 140px;
    height: 400px;
  }

  .v4 {
    top: 190%;
    left: 260px;
    height: 200px;
  }

  .v5 {
    top: 190%;
    left: 140px;
    height: 200px;
  }
}
@media (max-width: 412px) and (max-height: 824px) {
  /*pixel 2XL*/
  h2 {
    font-size: 1.1rem;
    margin-right: -20px;
  }
  #small-text {
    font-size: 1rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 25px;
    margin-bottom: -10px;
    font-weight: 700;
  }
  .wrappers {
    margin-top: 200%;
  }
  .vertical {
    top: 106%;
    left: 150px;
    height: 400px;
  }

  .v1 {
    top: 106%;
    left: 260px;
    height: 400px;
  }

  .v2 {
    top: 140%;
    left: 260px;
    height: 400px;
  }

  .v3 {
    top: 140%;
    left: 150px;
    height: 400px;
  }

  .v4 {
    top: 180%;
    left: 260px;
    height: 200px;
  }

  .v5 {
    top: 180%;
    left: 150px;
    height: 200px;
  }
}
@media (max-width: 412px) and (max-height: 732px) {
  /*pixel 2*/
  h2 {
    font-size: 1.1rem;
    margin-right: -20px;
  }
  .rope {
    top: 105%;
  }
  .wrappers {
    margin-top: 180%;
  }
  .glry .carousel-cell img {
    height: 200px;
    width: 200px;
    margin-left: 20%;
  }
  .vertical {
    top: 109%;
    left: 140px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 260px;
    height: 400px;
  }

  .v2 {
    top: 150%;
    left: 260px;
    height: 400px;
  }

  .v3 {
    top: 150%;
    left: 140px;
    height: 400px;
  }

  .v4 {
    top: 190%;
    left: 260px;
    height: 200px;
  }

  .v5 {
    top: 190%;
    left: 140px;
    height: 200px;
  }
}

@media (max-width: 376px) and (max-height: 668px) {
  /*iphone 6/7/8*/
  #small-text {
    font-size: 0.8rem;
    margin-left: 25px;
    margin-bottom: -10px;
  }
  .vertical {
    top: 109%;
    left: 120px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 250px;
    height: 400px;
  }

  .v2 {
    top: 150%;
    left: 250px;
    height: 400px;
  }

  .v3 {
    top: 150%;
    left: 120px;
    height: 400px;
  }

  .v4 {
    top: 200%;
    left: 250px;
    height: 200px;
  }

  .v5 {
    top: 200%;
    left: 120px;
    height: 200px;
  }
}

/* mobile size  
 moto g4 and galaxy s5*/
@media screen and (max-width: 362px) {
  h2 {
    font-size: 1.1rem;
    margin-right: -20px;
  }
  .rope {
    top: 105%;
  }
  .wrappers {
    margin-top: 180%;
  }
  .glry .carousel-cell img {
    height: 200px;
    width: 200px;
    margin-left: 20%;
  }
  .vertical {
    top: 109%;
    left: 120px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 240px;
    height: 120px;
    height: 400px;
  }

  .v2 {
    top: 160%;
    left: 240px;
    height: 400px;
  }

  .v3 {
    top: 160%;
    left: 120px;
    height: 400px;
  }

  .v4 {
    top: 210%;
    left: 240px;
    height: 200px;
  }

  .v5 {
    top: 210%;
    left: 120px;
    height: 200px;
  }
}
@media (max-width: 320px) and (max-height: 568px) {
  /* iphone 5/SE*/
  #p1 {
    font-size: 0.9rem;
    margin-left: -25%;
    font-weight: 600;
  }
  .h2 {
    font-size: 0.85rem;
    margin-left: -50%;
  }
  #small-text {
    font-size: 0.7rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 30px;
    margin-bottom: -20px;
    font-weight: 700;
  }
  .par1 {
    font-size: 1rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 25px;
    margin-right: -10px;
    font-weight: 800;
  }
  .par11 {
    margin-left: -35px;
  }
  h2 {
    font-size: 1rem;
    margin-right: -30px;
  }
  .vertical {
    top: 109%;
    left: 100px;
    height: 400px;
  }

  .v1 {
    top: 109%;
    left: 220px;
    height: 400px;
  }

  .v2 {
    top: 160%;
    left: 220px;
    height: 400px;
  }

  .v3 {
    top: 160%;
    left: 100px;
    height: 400px;
  }

  .v4 {
    top: 220%;
    left: 220px;
    height: 200px;
  }

  .v5 {
    top: 220%;
    left: 100px;
    height: 200px;
  }
}
.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  height: 8px;
  width: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
