* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  user-select: none;
}

body {
  overflow-x: hidden;
}

.container {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /*overflow-y: hidden;*/
}

.mid-content1 {
  position: absolute;
  /* display: block; */
  display: flex;
  flex-direction: column; /*flex, flex-direction , align items, and justify content*/
  align-items: flex-start;
  justify-content: center;
  top: 67%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.mid-content1-large {
  display: flex;
  flex-direction: row; /* align items and justify content*/
  justify-content: center;
  align-items: flex-start;
  color: #93abe3;
  padding-left: 22%;
}

.mid-content1-small {
  color: #fff;
  padding-top: 20px;
  font-size: 22px;
}

hr {
  height: 0.5px;
  border: none;
  margin-top: 5px;
  margin-left: -15px;
  width: 150%;
  color: #fff;
  background-color: #fff;
}

.par1 {
  font-size: 54px;
  line-height: 77px;
  padding-right: 65px;
}

.par11 {
  padding-left: 65px;
}

#small-text {
  font-size: 26px;
  color: #fff;
  padding-left: 22%;
}

.single-line {
  text-align: center;
}

#p1 {
  font-family: Raleway;
  color: #fff;
  font-size: 35px;
  padding-right: 20px;
}

.h2 {
  font-family: Raleway;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}

.mid-content {
  position: absolute;
  display: flex; /*flex and flex direction add justify content and align items*/
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 35%;
  left: 33%;
  animation: fadeIn 1s ease-in both;
}

.single-line {
  display: inline-flex;
}

.d1 {
  margin: 0 5px 0 0;
}

.events {
  position: relative;
}
/*
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

*/






@keyframes autoplay {
  0% {
    top: -100%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: 0%;
  }
}

@keyframes autoplaytwo {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 3%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  #small-text {
    font-size: 17px;
  }
  .par1 {
    font-size: 40px;
    padding-right: 45px;
  }
  .mid-content1-small {
    font-size: inherit;
  }
}

@media (max-width: 875px) {
  #p1 {
    font-size: 1.5rem;
  }
  .h2 {
    font-size: inherit;
  }
}

@media (max-width: 751px) {
  #small-text {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
  .par1 {
    font-size: 1.5rem;
  }
  .mid-content1-small {
    font-size: inherit;
  }
}
@media (max-width: 550px) {
  #p1 {
    font-size: 0.8rem;
  }
  #a,
  #b,
  #c {
    height: 25px;
    width: 5px;
  }
  .h2 {
    font-size: 0.69rem;
    margin-right: 50px;
  }
  .par1 {
    font-size: 1rem;
    font-weight: 600;
  }
  .mid-content1-small {
    font-size: 0.8rem;
  }
  .par11 {
    padding-left: 40px;
  }
  #p2 {
    font-size: 0.8rem;
  }
  .cursor {
    visibility: hidden;
  }
  .cursor2{
    visibility: hidden;
  }
}

.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  height: 8px;
  width: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
