* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
	display: flex;
	justify-content: space-between;
}

.logo img {
	height: 90px;
	width: 90px;
	margin-left: 23px;
	margin-top: 20px;
}

figcaption {
	color: #fff;
	padding-left: 40px;
}

ul {
	list-style-type: none;
}

.nav ul {
	/*position: fixed;*/
	top: 0;
	right: 0;
	width: 65%;
	display: flex;
	text-align: left;
	padding-top: 50px;
	height: 100%;
}

.nav ul li a {
	color: #93ABE3;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 0px 60px;
	font-size: 20px;
	padding-bottom: 10px;
}

.nav ul li {
	position: relative;
	animation: 2s autoplay ease-out;
}

.nav ul li a .middle
{
    position: relative;
}

header .nav ul li a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 100px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav ul li a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-container {
	/*position: relative;*/
	background: url("../images/team.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 60vh;
	/*opacity: 0.5;*/
	/*background-attachment: rgba(0,0,0,0.7);*/
}

.headline {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #fff;
	text-align: center;
	display: block;
	word-spacing: 10px;
	padding: 20px;
	margin-right: 25%;
	margin-left: 25%;
}

#span1 {
	color: #93ABE3;
	letter-spacing: 5px;
	border-bottom: 2px solid #fff;
}

.bottom-container {
	background: url("../images/teamsbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 280vh;
}


.containers{
    height: 165px;
    width: 190px;
    background-color: rgb(38, 38, 56);
    position: absolute;
    top: 100%;
    left: 50%;
	transform: translate(-50%,-50%);
	transition: 0.5s ease-in-out;
}

.containers:hover {
	height: 220px;
}

.containers p:hover {
	visibility: hidden;
}

.img1{
    height: 190px;
    width: 190px;
    background-color:rgb(38, 38, 56);
    background-image: url(../images/aniket.jpg);
    position: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.containers h4{
    font-family: 'Raleway', sans-serif;
    color: #fff;           
    position: absolute;
    content: '';
    top: 65%;
    text-align: center;
    padding-left: 10px;
    font-size: 19px;
}
        
.containers p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    content: '';
    top: 80%;
    color: #93ABE3;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
    letter-spacing: 1px;
}
.container-1{
	position: absolute;
	margin-top: 550px;
	height: 300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.item{
	background-color: rgb(38, 38, 56);
	margin: 30px;
	padding: 3px;
	height: 165px;
	width: 185px;
	transition: 0.5s ease-in-out;
}


.item:hover {
	height: 220px;
}

.img2,.img3,.img4,.img5,
.img6,.img7,.img8,.img9,
.img10,.img11,.img12,.img13{
    height: 190px;
    width: 190px;
    background-color:rgb(38, 38, 56);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    top: 11%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img2 {
    background-image: url(../images/shobbit.png);
}

.img3 {
    background-image: url(../images/shachi.png);
}
.img4 {
    background-image: url(../images/rishab.png);
}
.img5 {
    background-image: url(../images/vishal.png);
}
.img6 {
    background-image: url(../images/sukarn.png);
}
.img7 {
    background-image: url(../images/abhimanyu.png);
}
.img8 {
    background-image: url(../images/yatharth.png);
}
.img9 {
    background-image: url(../images/astha.png);
}
.img10 {
	background-image: url(../images/aditya.png);
}
.img11 {
    background-image: url(../images/mohak.png);
}
.img12 {
    background-image: url(../images/himanshu.png);
}
.img13 {
    background-image: url(../images/tathagat.png);
}

.item h4{
    font-family: 'Raleway', sans-serif;
    color: #fff;           
    position: relative;
    content: '';
    top: -50%;
    margin-left: 5px;
    font-size: 17px;
}

.item p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    content: '';
    top: 55%;
    color: #93ABE3;
    font-size: 14px;
    margin-left: 5px;
    /*text-align: center;*/
    /*padding-left: 10px;*/
    letter-spacing: 1px;
}

.item #op1 {
	top: 61%;
	color: #00C1DF;
	font-size: 13px;
	margin-left: 4%;
}


.item #op2 {
	top: 61%;
	color: #00C1DF;
	font-size: 13px;
	margin-left: 6.5%;
}

.container-2{
	position: absolute;
	margin-top: 1000px;
	height: 300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.container-3{
	position: absolute;
	margin-top: 1450px;
	height: 300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#sp1 {
	font-size: 13px;
}

#sp2 {
	font-size: 16px;
}

.cursor {
	position: fixed;
	height: 40px;
	width: 40px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%,-50%);
	transition: .1s;
}

.cursor2 {
	position: fixed;
	height: 8px;
	width: 8px;
	background-color: #c6c6c6;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%,-50%);
	transition: .15s;

}
